@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the world of Superheroes!!</h1>
    <img src="hulk.png" alt="The Hulk" width="300" height="300" />
</div>
